{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    hello, buddy. It's restaurant homepage
    <a href="{% url 'restaurant-sign-out' %}">Sign Out</a>
    <a href="{% url 'restaurant-sign-in' %}">Sign In</a>
</body>

</html>