<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    SignUp Restaurant Page
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %} {{ user_form }} {{ restaurant_form }}
        <button type='submit'>Sign Up</button>
    </form>
</body>

</html>